
extends layout

block content
	.navbar.navbar-default
		.container-fluid
			a.navbar-brand(href="#") CI CD

	.container
		h1 CI-CD test
		.row
			nav 
				form#searchform
					.btn.group
						input#searchinput(type="text" placeholder="search")
						button.btn.btn-primary#searchbutton(type="submit") Ok
		
	script(src="javascript/main.js")